<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <h2>Employees</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList">
            <td>{{ employee.employeeId }}</td>
            <td>{{ employee.employeeName }}</td>
            <td>{{ employee.department }}</td>
            <td>
              <button class="btn btn-primary" (click)="onEdit(employee)">
                Edit
              </button>
              <button
                class="btn btn-danger"
                (click)="onDelete(employee.employeeId)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Add/Edit Employee</h2>
      <form [formGroup]="employeeForm">
        <div class="mb-3">
          <label for="employeeName" class="form-label">Employee Name</label>
          <input
            type="text"
            class="form-control"
            id="employeeName"
            formControlName="employeeName"
          />
        </div>
        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <input
            type="text"
            class="form-control"
            id="department"
            formControlName="department"
          />
        </div>
        <button type="button" class="btn btn-primary" (click)="onSave()">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
