<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <h2>Projects</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Client Name</th>
            <th>Start Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projectList">
            <td>{{ project.projectName }}</td>
            <td>{{ project.clientName }}</td>
            <td>{{ project.startDate | date }}</td>
            <td>
              <button
                class="btn btn-primary"
                (click)="onEdit(project.projectId)"
              >
                Edit
              </button>
              <button
                class="btn btn-danger"
                (click)="onDelete(project.projectId)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
